   <div class="post-meta well" ng-style="obj1" >
     <style>
       
  
       
     </style>
   <a style="float:right" ng-href="#/blog/{{blog1.url|Find1}}"> <button class="btn btn-animatedx" href="#/blog/{{blog1.url|Find1}}" > click me </button></a>    
         <p>     {{blog1.url|Find}}<br>
        
                   <span ng-if="(blog1.url|Find)=='BOOK :  '">
                   
                       <span class="post-meta">
                            <span>Name          : {{blog1.name}}</span><br>
                            <span>Author        : {{blog1.authors[0]}}</span><br>
                            <span>Release Date  : {{blog1.released| date:'mediumDate'}}</span><br>
                            <Span>NumberOfPages : {{blog1.numberOfPages}}</Span><br>
                          </span> 
                        
                    </span>
                    <span ng-if="(blog1.url|Find)=='Houses :  '">
                    <span class="post-meta">
                            <Span>Name   : {{blog1.name}}</Span><br>
                            <span>Region : {{blog1.region}}</span><br>
                            <span ng-show="blog1.titles[0]">Title  : {{blog1.titles[0]}}</span>
                            </span>
                    </span>

                    <span ng-if="(blog1.url|Find)=='Characters : '">
                    <span class="post-meta">
                        <SPAN ng-show="blog1.name">Name:{{blog1.name}}<br></SPAN>
                        Aliases:<span>{{blog1.aliases[0]}}</span><br>
                        <span ng-show="blog1.culture"> Culture : {{blog1.culture}}<br></span>
                        <span ng-show="blog1.gender">Gender : {{blog1.gender}}</span>
                    </span>    
                    </span> 
                    </p>
                    </div>
                      