<div class="row" >
    <div class="well">
      <div class="card">
        <div class="card-block">
       <form ng-hide="result2">
<style>
  .card-block{
    background-color:black;,
    color:red;
  }
</style>
          <label>Filter By Any Input  : <input   placeholder="Any Input" ng-model="search1.$"></label><br>
          <label>Type(Book,Houses or Character): <input placeholder="By Type "   class="form-control" ng-model="search1.url"></label><br>
        
       
        </form>

        <label ng-hide="result1  || result2">Toggle to see in Ascending and Descending order of name:<button ng-class="{'result':true}" ng-click="result=myBlog.Bysort(result)" class="btn btn-secondary active"> search</button></label><br>

                
          <label ng-hide="result2">Sort On Basis of type(Book,Houses or Character) <button ng-class="{'result1':false}" ng-click="result1=myBlog.Bysort(result1)" class="btn btn-primary btn-active"> gotMe
                <p ng-if="result1==true" > To go back click again</p>     
          </button></label><br>   


          <label ng-hide="result1"> Sort(including name and aliases) <button ng-class="{'result2':false}" ng-click="result2=myBlog.Bysort(result2)" class="btn btn-primary"> Clickme 
                   <p ng-if="result2==true">T Click again to go to original view</p>
          </button></label>
          </div>

        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           
       
        <div class="post-preview " ng-if="result1!=true && result2!=true" ng-hide="result" ng-repeat="blog1  in  myBlog.type|filter:search1|orderBy: ['!name','name','aliases[0]']">
    

            <!-- This view will display in Ascending order of name-->
            <book-card blog1='blog1'></book-card>
        </div>


        <div class="post-preview " ng-if="result1!=true && result2!=true" ng-show="result"   ng-repeat="blog1 in myBlog.type|filter:search1|orderBy: ['-!name','-name','-aliases[0]']">
                          <!-- This view will display in Descending order of order of name-->
              <book-card blog1='blog1'></book-card>
        </div>



          <div class="post-preview " ng-if="result1==true"   ng-repeat="blog1 in myBlog.type|orderBy|filter:search1">
              <!-- This view will display in Sorted order  of type -->
                <book-card blog1='blog1'></book-card>
          </div>




          <div class="post-preview well " ng-if="result2==true" ng-style="myBlog.myObj" ng-repeat="blog in  myBlog.books|specialSort">
                  <!-- This is a special view with no click function-->
                <span  ng-bind-html="blog"></span>
          </div>


            </div>
</div>
</div>
</div>